body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #220b0b;
    background-color: #403356;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f7cbcb;
    border-bottom: 6px solid rgb(128, 89, 97);
    border-right: 6px solid rgb(161, 103, 113);
}
.card:hover{
    background-color: #edb0b0;
    cursor: pointer;

    #email{
        font-weight: bold;
    }

    img{
        background-color: white;
    }
}
.card:active{
    border:none;
    background-color: #c39191;

    img{
        background-color: white;
    }
}

.border-blue {
    border: 1px dotted blue;
}

img{
    height: 100%;
    background-color: white;
    border-radius: 50%;
    margin: auto 10px;
}

h4{
    font-style: italic;
}

.container{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#message{
    position: absolute;
    float: right;
    margin-top: -320px;
    background-color: #f7cbcb;
    padding: 10px 15px;
    border-radius: 20px;
    color: rgb(64, 64, 64);
    font-weight: bold;
    opacity: 0;
}
